@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

@theme {
  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;

  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);

  --background-image-grid-pattern: linear-gradient(to right, #e2e8f0 1px, transparent 1px), linear-gradient(to bottom, #e2e8f0 1px, transparent 1px);
}

/* Custom Utilities */
@utility container-custom {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

body {
  @apply bg-slate-50 text-slate-900;
}